body {
  background-color: var(--background-white-color);
  color: var(--secondary-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  margin-bottom: 50px;

  color: var(--first-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.submit__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  color: var(--background-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;

  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--trans-tim-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
