.clients__list {
  display: flex;
  gap: 30px;
}

.clients__link {
  display: block;
  max-width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid var(--secondary-border-color);
  border-radius: 4px;
  color: var(--secondary-border-color);

  transition-property: border-color, color;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--trans-tim-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
