.clients__list {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}
.clients__item {
  @include calc(2, 30px);
  @media screen and (min-width: 768px) {
    @include calc(3, 30px);
  }
  @media screen and (min-width: 1200px) {
    @include calc(6, 30px);
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--secondary-border-color);
  border-radius: 4px;
  color: var(--secondary-border-color);

  transition-property: border-color, color;
  @include transition;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
