.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 400px;

  background-color: var(--background-dark-grey-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background-img-mob.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include retina {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/backgroubd-img-mob-2x.jpg");
  }
  @media screen and (min-width: 768px) {
    max-width: 100vw;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/background-img-tab.jpg");
    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/background-img-tab-2x.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/background-img.jpg");
    @include retina {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/background-img-deskt-2x.jpg");
    }
  }
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
  color: var(--background-white-color);

  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}
.hero__btn {
  display: block;
  margin: 0 auto;
  // padding: 10px 24px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--background-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  transition-property: box-shadow;
  @include transition;
  &:hover,
  &:focus {
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  @media screen and (min-width: 1200px) {
    width: 216px;
  }
}
