.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.project__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    @include calc(2, 30px);
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    @include calc(3, 30px);
  }
}

.project__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-property: box-shadow;
  @include transition;

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.project__img {
  width: 100%;
}
.project__thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition-property: transform;
  @include transition;
  overflow: auto;

  .project__link:focus &,
  .project__link:hover & {
    transform: translatey(0);
  }
}

.overlay__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--background-white-color);
}

.project__description {
  padding: 20px 24px;
  border: 1px solid var(--first-border-color);
  border-top: none;
  flex-grow: 1;
  @media screen and (min-width: 768px) {
    flex-grow: 1;
  }
}
.project__title {
  margin-bottom: 4px;

  color: var(--first-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project__text {
  margin: 0;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
