.team {
  background-color: var(--background-grey-color);
}
.team__list {
  display: flex;
  flex-flow: column;
  gap: 30px;
  @media screen and (min-width: 768px) {
    flex-flow: row wrap;
  }
}
.team__item {
  max-width: 100%;
  background-color: var(--background-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    @include calc(2, 30px);
  }
  @media screen and (min-width: 1200px) {
    @include calc(4, 30px);
  }
}
// .team__foto {
//   max-width: 100%;
// }
.team__description {
  padding-top: 30px;
  padding-bottom: 24px;
  @media screen and (min-width: 1200px) {
    padding: 30px 32px;
  }
}
.team__title,
.team__position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--first-color);
}
.team__position {
  margin-bottom: 16px;
}
