:root {
  --background-white-color: #ffffff;
  --background-dark-grey-color: #2f303a;
  --background-grey-color: #f5f4fa;
  --first-color: #212121;
  --secondary-color: #757575;
  --third-color: rgba(255, 255, 255, 0.6);
  --fourth-color: rgba(255, 255, 255, 0.1);
  --accent-color: #2196f3;
  --first-border-color: #ececec;
  --secondary-border-color: #afb1b8;
  --work-background-color: rgba(47, 48, 58, 0.8);
}
